.movies {
    display: block;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.movies-content {
    text-align: center;
    background: #e5e5e5;
    width: 250px;
    min-height: 450px;
    border-radius: 25px;
    margin: 20px 20px 0 20px;
}

.movies-content__img {
    text-align: center;
    padding-top: 20px;
    width: 200px;
    height: 300px;
}

.movies-content__text {
    height: 90px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

.movies-content__btn {
    display: none;
}

.movies-content__btn:hover {
    background: #e5e5e5;
}

.movies-content__btn.active {
    display: block;
}

.movies-content__btn, .auxiliary-btn {
    margin: 0 auto;
    width: 150px;
    height: 50px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;
}

.auxiliary-btn {
    display: none;
    text-align: center;
}

.auxiliary-btn.active {
    display: block;
}